@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Radio Canada Big", sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
header h1{
    font-family: "Jersey 25", sans-serif !important;
}
code{
    background: rgb(70, 70, 70);
    color: rgb(248, 229, 229);
    padding: 5px;
    margin: 0px 10px;
}
#titulohome{
    background: black url(imagens/fundodev.png);
    color: yellow;
    border-radius: 0% 0% 3% 3%;
    font-size: 2em;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
#tecnologias{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tecnologias span{
    font-family: "Jersey 25", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tecs{
    margin: 5px 20px;
}

/*Página HTML*/
/*começo do cabeçalho*/
#htmlcabecalho{
    color: white;
    background: url(imagens/htmlfundo.jpg);
    padding: 30px;
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#htmltitulo{
    display: flex;
    align-items: center;
    margin: auto;
}
/*fim do cabeçaho

começo do corpo*/
#bodyhtml{
    display: flex;
}
#lateralesquerda{
    width: 20vw;
}
.elementotitulohtml{
    margin: 0px 20px;
}
#htmlcontent{
    width: 60vw;
}
#tituloshtml{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tituloshtml > div > div{
    display: flex;
    align-items: center;
    margin: 10px;
}
#tituloshtml code{
    width: 140px;
}
#lateraldireita{
    width: auto;
}








/*
.container {
    margin: 5px;
    border: 1px solid white;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: gray;
    color: white;
    /*background-image: url(Imagens/backimage.jpg);
    background-repeat: repeat;
}
.container > div {
    width: 50px;
    height: 100px;
    font-size: smaller;
    border: 1px solid red;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS PARA TELAS MÉDIAS */
/*@media all and (min-width: 700px) and (max-width: 1000px){
    nav {
        height: 140px;
        font-size: xx-large;
        font-weight: 500;
        background-color: black;
    }
    .container > div {
        width: 90px;
        height: 90px;
    }
    .container {
        height: 200px;
        justify-content: center;
    }
}
@media all and (min-width: 1000px){
    nav {
        display: none;
        background-color: chocolate;
    }
}*/