@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 5px;
    border: 1px solid white;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: gray;
    color: white;
    /*background-image: url(Imagens/backimage.jpg);
    background-repeat: repeat;*/
}
.container > div {
    width: 50px;
    height: 100px;
    font-size: smaller;
    border: 1px solid red;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS PARA TELAS MÉDIAS */
/*@media all and (min-width: 700px) and (max-width: 1000px){
    nav {
        height: 140px;
        font-size: xx-large;
        font-weight: 500;
        background-color: black;
    }
    .container > div {
        width: 90px;
        height: 90px;
    }
    .container {
        height: 200px;
        justify-content: center;
    }
}
@media all and (min-width: 1000px){
    nav {
        display: none;
        background-color: chocolate;
    }
}*/