@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Jersey 25", sans-serif;
}
a{
    text-decoration: none;
}
#titulohome{
    background: black url(imagens/fundodev.png);
    color: yellow;
    border-radius: 0% 0% 3% 3%;
    font-size: 1.5em;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
#tecnologias{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tecnologias > a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tecs{
    margin: 5px 20px;
}

/*Página HTML*/
#htmlcabecalho{
    color: white;
    background: url(imagens/htmlfundo.jpg);
    padding: 30px;
    font-size: 5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.voltar > a{
    color: white;
}
#htmltitulo{
    display: flex;
    align-items: center;
    margin: auto;
}
.elementotitulohtml{
    margin: 0px 20px;
}













/*
.container {
    margin: 5px;
    border: 1px solid white;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: gray;
    color: white;
    /*background-image: url(Imagens/backimage.jpg);
    background-repeat: repeat;
}
.container > div {
    width: 50px;
    height: 100px;
    font-size: smaller;
    border: 1px solid red;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS PARA TELAS MÉDIAS */
/*@media all and (min-width: 700px) and (max-width: 1000px){
    nav {
        height: 140px;
        font-size: xx-large;
        font-weight: 500;
        background-color: black;
    }
    .container > div {
        width: 90px;
        height: 90px;
    }
    .container {
        height: 200px;
        justify-content: center;
    }
}
@media all and (min-width: 1000px){
    nav {
        display: none;
        background-color: chocolate;
    }
}*/